
*{margin:0;padding:0;box-sizing: border-box;}
ul {list-style:none;}
ul,ol,li{list-style:none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal}
a {margin:0;padding:0;border:0; text-decoration:none;}
ins { background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
input, select,textarea{ vertical-align:middle; border:none; margin:0; padding:0; outline: none;}
input:focus,.select:focus,textarea:focus{outline: none;}
 em{font-style: normal;} */
.hidden{display: none;}
hr{ line-height:1; height:1px; background:none; border-top:1px dashed #9F9F9F;border-bottom:1px dashed #fff;}
img {border: 0;margin:0;padding:0;}
html{min-height: 100%;overflow: auto;position:relative;	z-index: 1;	background: #fff;font-family:"微软雅黑";overflow-x: hidden;}
a {text-decoration: none;cursor: pointer;}
.clearfix:before,
.clearfix:after {display: table;content: "";    /*不用有内容也可以*/}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
h2.mr_4{margin-bottom:0.4rem;}
input::-webkit-input-placeholder {color: #b57a65;}
input::-moz-placeholder {color: #b57a65;}
input:-moz-placeholder {color: #b57a65;}
input:-ms-input-placeholder {color: #b57a65;}
input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {	-webkit-appearance: none;}
/* body a {-webkit-transition: all .3s;transition: all .3s;} */
a:hover {color: #f00;}
body{position: relative;-webkit-text-size-adjust: none;color: #fff;font-size: 0.24rem;}
.hand{ cursor:pointer;transition: all .6s;}






/*内容页*/
.content_banner{width:100%;height:4.99rem;background:url(../images/content_banner.jpg);background-size:cover;}
.content_banner_main{width:12rem;margin:0 auto;padding-top: 2.6rem;}
.content_banner_main1{width:14.9rem;margin:0 auto;padding-top: 2.6rem;}
.content_banner_main h3,.content_banner_main1 h3{font-size: 0.6rem;font-weight: 700;}
.content_banner_main p,.content_banner_main1 p{font-size: 0.28rem;}

.content_wrap{width:100%;margin-top:0.93rem;padding-bottom:1.5rem;}
.content_wrap_list{width:100%;margin-top:0.93rem;padding-bottom:0.8rem;}
.list_main,.content_main{width:12rem;margin:0 auto; display: flex; justify-content: space-between;}
.content_main_left{width:9rem;}
.content_main_left h3 {text-align: center;margin-bottom: 0.4rem;}
.content_main_left h3 img { max-width:8.99rem; height:auto;}
.content_main_left h2{font-size:0.34rem;color:#131313; text-align: center;margin-bottom: 0.35rem;}
.content_main_left p{font-size:0.16rem;color:#131313;margin-bottom: 0.15rem;text-indent: 0.3rem; line-height: 0.3rem; text-align: justify;
    text-justify: inter-ideograph;}
.content_main_left p img { margin-left: -0.3rem; text-align: center; }
p.title1 img{text-align: center;margin-right: 0.15rem;}
.left_title img{width:0.13rem;height:0.14rem;}
.left_title{text-align: center;border-bottom: 0.01rem solid #d9d9d9;margin-bottom: 0.4rem;}
.content_main_right{width:2.47rem;margin-top:0.68rem}
.content_item{border-bottom: 0.01rem solid #d9d9d9;color:#131313;text-align: center;font-size: 0.16rem;margin-bottom: 0.35rem;padding-bottom: 0.2rem;overflow:hidden;}
.content_item .scale_i{width:2.47rem;height:1.51rem;overflow: hidden; display:inline-block;}
.content_item img{width:2.47rem;height:1.52rem;transition: all 0.5s ease;}
.content_item:hover img{transform: scale(1.2);}
.content_item p{color:#131313;margin-top:0.13rem;overflow: hidden; width: 2.47rem;text-overflow: ellipsis;overflow: hidden;  display: -webkit-box;	-webkit-box-orient:vertical;	-webkit-line-clamp:2;    text-align: justify;
    text-justify: inter-ideograph;}
.right_title p{color:#131313;font-size:0.18rem;text-align:center;margin-top:0.05rem;height:0.21rem;font-weight: bold;}
.right_title{border-bottom: 0.01rem solid #d9d9d9;padding-bottom: 0.15rem;margin-bottom: 0.2rem;}
p.title1{color:#42494f;font-size:0.14rem;margin-bottom: 0.15rem; line-height: 0rem;}
.news_list_left，.news_list_right{width:5.52rem;}
/*列表页*/
 .list_item dt{ width:100%; height:auto; overflow:hidden; margin-bottom:20px;}
 .list_item{ overflow:hidden;}
.list_item dt:hover img{transform: scale(1.05);}
.list_item dt img{ display:block;width:5.52rem;height:3.4rem;transition: all 0.5s ease;}
.list_item dl{height:auto; overflow:hidden; border-bottom: 0.01rem solid #b3b3b3; padding-bottom:25px; margin-bottom:0.6rem;}
.list_item dd h1{ color:#404040;font-size:0.18rem; font-weight:bold; line-height:0.24rem; margin-bottom:0.25rem;height:0.5rem; overflow:hidden;}
.list_item dd p{ color:#808080; font-size:0.16rem; line-height:0.28rem;}
.list_item dd em{ display:block; float:right; color:#404040; font-size:0.14rem; line-height:0.24rem; font-style: normal;}
.list_item dd{ height:auto;width:5.52rem;}
.list_item dd div{ height:0.56rem; overflow:hidden; margin-bottom:0.2rem;}
.list_item dd span{ display:block; float:left; color:#404040; font-size:0.14rem; line-height:0.24rem;}
.list_item dd em img{ vertical-align:middle; margin-left:0.06rem;width:0.08rem;height: 0.07rem;} 
/* .list_item{width:12rem;display: flex; justify-content: center;} */
.news_list{width:12rem;display: flex; justify-content: space-between;}
/*分页*/
.pageNum{ text-align:center;margin-top: 0.2rem;}
.pageNum a{margin:0 0.05rem;border-radius:0.04rem; display:inline-block; color: #353535; height:0.28rem; line-height:0.28rem; background:#eee; padding: 0 0.1rem; font-size:0.13rem;}
.pageNum a:hover, .pageNum .aNow{background:#0052d9; color:#FFF;}
.pageNum span{background:#0052d9;color:#FFF;margin:0 0.05rem;border-radius:0.04rem; display:inline-block; height:0.28rem; line-height:0.28rem; padding: 0 0.1rem; font-size:0.13rem;}





/*投资者关系*/

.service_part1{width:14.9rem; display: flex; justify-content: space-between;margin:0 auto;padding-bottom: 0.7rem;padding-top: 0.7rem;height:5.9rem;}
.service_part1_left h2{color:#262626;font-size:0.36rem;font-weight: 600;border-bottom:0.01rem solid #e4e4e4;padding-bottom:0.51rem;}
.service_part1_left  h2 span,.service_part1_right  h2 span{float: right;font-size:0.16rem;font-weight:normal;margin-top: 0.3rem;}
.service_part1_left  h2 span a,.service_part1_right  h2 span a{color:#5a5a5a;}
.service_part1_left  h2 span a:hover,.service_part1_right  h2 span a:hover{border-bottom: 0.01rem solid #5a5a5a;padding-bottom: 0.02rem;}
.service_part1_left{width:5.85rem;}
.service_part1_left_news ul {border-bottom:0.01rem solid #e4e4e4;padding-bottom: 0.35rem;}
.service_part1_left_news li p{color:#040404;font-size:0.16rem;margin-top: 0.28rem;}
.service_part1_left_news li span{color:#a4a4a4;font-size:0.16rem;}
.service_part1_left_news ul li{border-left:0.05rem solid #e6e6e6;padding-bottom: 0.35rem;height:0.53rem; padding-left:0.2rem;background:url(../images/service_ico.png) no-repeat 5.38rem center;
background-size:0.33rem 0.33rem;}
.service_part1_left_news ul a:hover li{border-left:0.05rem solid #0052d9;padding-bottom: 0.35rem;height:0.53rem; padding-left:0.2rem;background:url(../images/service_ico_hover.png) no-repeat  5.38rem center;background-size:0.33rem 0.33rem;}
.service_part1_right_down{position: relative;width:7.5rem;}
.service_part1_right h2{color:#262626;font-size:0.36rem;font-weight: 600;padding-bottom: 0.3rem;margin-bottom:0.4rem;}
.service_part1_right  h2 span{float: right;font-size:0.16rem;font-weight:normal;}

.year_line{position: absolute;left:0rem;top:-0.22rem}
.year_line img{width:0.15rem;height:3.57rem;}
.year_down img{width:0.37rem;height:0.37rem;}
.year_gray span img{width:0.17rem;height:0.17rem;}
.year_gray span{margin-right: 0.1rem;}
.investorImgall img{width:6.42rem;height:auto;}
.investorImgall{width:7.3rem;text-align:center;}
.year_date1{position: absolute;left:0.3rem;top:0.45rem;color:#5a5a5a;font-weight: bold; font-size: 0.2rem;}
.year_date2{position: absolute;left:0.3rem;top:2.45rem;color:#5a5a5a;font-weight: bold; font-size: 0.2rem;}
.year_box1{border:0.01rem solid #d3d3d3;position: absolute;width:2.93rem;height:1.5rem;padding-top:0.12rem;padding-left:0.28rem;}

.year_box1 span.year_time{font-size: 0.36rem;color:#040404;font-weight: bold;}
.year_box1 span.year_type{display: inline-block; background-color:#0052d9; padding:0.05rem 0.1rem; font-size: 0.16rem; margin:0.1rem 0.2rem 0 0.2rem;}
.year_down{ margin-top:0.05rem;}
.year_box1 p.year_gray{color:#a4a4a4;font-size:0.16rem;margin-top: 0.13rem;}
.box1{left:1.3rem;top:-0.2rem;}
.box2{left:4.55rem;top:-0.2rem;}
.box3{left:1.3rem;top:1.8rem;}
.box4{left:4.55rem;top:1.8rem;}
.year_box1  span{float: left;}
.year_box1 div{width:100%;height:0.5rem;}

.service_part3{width:100%;height:5.23rem;background:url(../images/service_part3_bg.jpg);background-size:100% 100%;}
.servie_part3_main{width:14.9rem;margin:0 auto;padding-top: 1.6rem;height:3.63rem;}
.servie_part3_main h2{font-size:0.36rem;color:#fff;font-weight: bold;margin-bottom: 0.3rem;}
.servie_part3_main p{font-size:0.2rem;color:#fff;margin-bottom: 0.1rem;}

.service_part2{width:100%;height:6.8rem;background:#f7f8f9;}
.service_part2_main{width:14.9rem;margin:0 auto;padding-top: 0.9rem;height:5.9rem; display: flex; justify-content: space-between;}
.service_part2_main_left h2{font-size:0.36rem;color:#262626;font-weight: bold;margin-bottom:1rem;}
.service_part2_main_left .day{color:#040404;font-size: 0.16rem;margin-bottom:0.2rem;}
.investorTitle_top{background:#fff;color:#000;width:5.3rem;height:1.5rem;}
.guDetail{background:#e9eaeb;color:#000;width:5.3rem;height:0.65rem;font-size: 0.16rem;color:#040404;line-height: 0.65rem; text-align: center; display: flex; justify-content: center;}
.guDetail span.guNow {color: #cc0000;font-weight: bold;margin-right: 0.2rem}
.guDetail span.guHigh,.guDetail .guYe,.guDetail .guLow {color: #990000;font-weight: bold;margin-right: 0.2rem;}
.guDetail .guLow{margin-right: 0rem;}
.guDetail p{width:5.3rem;}

.investorTitle_top .guName {font-size: 0.24rem;color: #4c4c4c;padding: 0rem 0rem 0rem 0.2rem;}
.gu_top{width:5rem;height:1rem;padding-top:0.5rem;padding-left:0.3rem;}
.investorTitle_top span.guAll { color: #cc0000;font-size: 0.36rem;font-family: Arial;padding: 0.12rem 0.13rem 0px 0.43rem;}
.investorTitle_top span.upshadow {padding-top: 0.17rem;padding-right: 0.4rem;}
.imgShow {width: 7.3rem;background:#f2f2f2; clear: both;height: 0.45rem; margin: 0rem auto 0.5rem auto;}
.imgShow li.imghover {background-color: #0052d9;}
.imgShow li.imghover a { color: #fff;}
.imgShow li { float: left; width: 1.825rem;  height: 0.45rem; line-height: 0.45rem;text-align: center;}
.imgShow li a { display: block; font-size: 0.18rem;color: #040404;}
.gu_top span { float: left;font-family: '微软雅黑';}
.investorTitle_top span.guValue { padding-top: 0.17rem;color: #4c4c4c; font-family: Arial;}

.fixed{position: fixed;top:0;left:0;z-index: 111111;}

/*投资者关系详情页*/
.service_banner,.service_list_banner{width:100%;height:4.76rem;background:url(../images/service_list_bg.jpg);background-size:cover;}

.servie_part3_main span{display: inline-block; width:1rem;}


.anchor_layer{width:100%; position: relative;;height:0.8rem;z-index: 111111;}
.wrap_layer{width:14.9rem;margin:0 auto;}
.nav_wrap{background: #f7f8f9;width:100%;height:0.8rem;border-bottom: 0.01rem solid #e9e9e9; z-index: 10;}
.wrap_layer div{color:#040404;float: left;height:0.8rem; line-height: 0.8rem;    cursor: pointer;margin-right: 0.6rem;font-size: 0.18rem;}
.anchor_layer .nav_wrap .active{border-bottom: 0.04rem solid #0052d9;}
.anchor_layer .nav_wrap.navFix{position: fixed; left: 0; top: 0; width: 100%; min-width: 14.9rem; border-radius: 0; z-index: 9999;}
.wrap_tab a{display: block;height:0.8rem; line-height: 0.8rem;color:#000; }


.service_list_center{width:12rem; margin:0 auto;margin-top:0.6rem;padding-bottom:0.8rem;}
.service_list_center1{width:12rem;height:0.84rem;border:0.01rem solid #d3d3d3;display: flex; justify-content: space-between;align-items: center;padding:0.28rem 0.5rem;margin-bottom: 0.15rem;}
.mr{margin-bottom:1rem;}
.service_list_center1 span.year_date{font-size: 0.36rem;color:#040404;font-weight: bold;}
.service_list_center1 span.year_quarterly{display: inline-block; background-color:#0052d9; width:0.68rem;height:0.28rem;font-size: 0.16rem; text-align:center; line-height: 0.28rem; margin:0.1rem 0.2rem 0 0.2rem;}
.service_list_center1 span.year_text{color:#a4a4a4;font-size:0.16rem;margin-top: 0.13rem; display: inline-block;width:5rem;height:0.24rem; overflow: hidden;}
.service_list_center1 span.year_time1{color:#a4a4a4;font-size:0.16rem;margin-top: 0.13rem;}
.service_list_center1 span.year_clock{margin:0.06rem 0.1rem 0 0.14rem;}
.service_list_center1 span.year_down_ico{margin:0.05rem 0 0 0.14rem;}
.service_list_center1 p span{float: left; display: inline-block;}
.service_title_main{width:12rem;margin:0 auto;}   
.service_title_main{color:#252525;font-size:0.14rem; }
.service_title_main a{color:#252525;font-size:0.18rem; line-height:0.8rem;}
.service_title_main a:hover{border-bottom:0.01rem solid #252525;}
.service_list_center1 span.year_clock img{width: 0.17rem;height: 0.17rem;}
.service_list_center1 span.year_down_ico img{width: 0.37rem;height: 0.37rem;}




/*招聘页面*/
.job_banner{width:100%;height:9.6rem;background:url(../images/job_banner.jpg);background-size:100% 100%; position: relative;}
.apply_job{position: absolute;width:2.2rem;height:0.65rem;left:50%;top:6.5rem; text-align: center;margin-left:-1.1rem;}
.apply_job a{padding:0.16rem 0.45rem;border-radius: 0.01rem;background:#f23535;color:#fff;font-size:0.28rem;font-weight: bold; letter-spacing: 0.04rem; border-radius: 0.02rem;}
video{width: 100%;height:100%;object-fit:cover; position: relative;z-index:5;}
.apply{position: absolute; top: 0;width: 100%;   height:100%;z-index:1111;background: rgba(30,47,83,.5);}

.job_part1{width:100%;height:5.9rem;padding-top:0.9rem;}
.job_part2{width:100%;height:6rem;background:#f4f4f4;padding-top:0.9rem;}
.job_part3{width:100%;height:6.2rem;padding-top:1.15rem;}
.job_part4{width:100%;height:8.9rem;background: #f4f4f4;padding-top:1rem;}
.job_main{width:12rem;margin:0 auto; display: flex; justify-content: space-between;color:#969696;font-size:0.16rem;}
.job_part1_left,.job_part4_right{width:3.6rem;}
.job_part2_right{width:4rem;}
.job_part3_left{width:4.2rem;}
.black_border{color:#262626;}
.job_main h2{margin-bottom:0.2rem;}
.job_part1_left h2{margin-top:0.78rem;margin-bottom:0.14rem;}
.job_main h2 img{width:2.8rem;height: auto;}
p.black_border{border-bottom: 0.01rem solid #e4e4e4;padding-bottom:0.2rem;margin-bottom:0.26rem;}
.job_main p{line-height: 0.28rem;font-size: 0.18rem;}
.job_img1{width:7.3rem;display: flex;justify-content: space-between;margin-top: 0.1rem;}
.margin_t{margin-top: 0.45rem;}
.job_img1 img{width:2.36rem;height:1.75rem}
.job_img  img{width:7.3rem;height: auto;}
.job_img{position: relative;}
.job_img:before {background-color: #f1f3f6;transition: .5s ease-in-out 0s;  z-index: 2;}
.job_img:before{content: "";display: block;width:0;height: 100%;position: absolute;   left: 0;top: 0;z-index: 1;    background-color: #f1f3f6;transition: .5s ease-in-out 0s;}
p.mar_no{margin-bottom:0.4rem;}
.job_solgen{width:12rem;position: absolute;left:50%;margin-left:-6rem;top:1.1rem;}
.job_solgen img{width:12rem;height:5.31rem;}

/*举报页面*/
.report_banner{width:100%;height:4.99rem;background:url(../images/report_bg.jpg);background-size:cover;}
.report_banner_main{width:12rem;margin:0 auto;padding-top: 1.8rem;}
.report_banner_main h3{font-size: 0.6rem;font-weight: 700;}
.report_banner_main p{font-size: 0.28rem;}
.report_wrap{width:12rem;margin:0 auto; margin-top: 0.76rem;}
.report_main{width:12rem;background-color: #f6f6f6;padding-top:1.2rem;margin-bottom: 1.2rem; padding-bottom: 1.4rem; margin-top: 0.24rem; position: relative;}
.report_wrap h2 {  color: #262626;font-size: 0.36rem; font-weight: 600; }

.line input,.line1 textarea{color:#5a5a5a; font-family: '微软雅黑';}
.line input:focus,.line1 textarea:focus {border-color:#333;color:#333;border: 0.01rem solid#f2f2f2;outline: none;}
.report_main_content{width:7.1rem; margin:0 auto;}
.report_main_content .line {text-align: center;height:0.44rem;margin-bottom: 0.23rem;}
.report_main_content .line1 {text-align: center;height:2.6rem;margin-bottom: 0.23rem;}
.report_main_content .report_main_center label {float:left; font-size:0.18rem;	display: inline-block;width: 1.1rem;color:#262626;height:0.42rem;line-height:0.42rem; text-align: right;font-weight: bold;margin-right: 0.3rem;}
.report_main_content .report_main_center input{width: 5.53rem;padding-left:0.37rem;float:left;}
.select_box {width: 5.53rem;line-height: 0.42rem;outline: none;color:#5a5a5a;font-size: 0.18rem; position: relative;float:left;}
.line1 textarea {float:left;width: 5.53rem;padding-left:0.37rem; height:2.6rem;border: 0.01rem solid#f2f2f2;background:#fff;font-size: 0.18rem;color:#5a5a5a; outline:none;overflow:hidden;resize: none;padding-top: 0.13rem;}
.select_box ul {width: 5.53rem;height:auto;border:0.01rem solid #73839F;display:none; background:#eee; z-index:99999; position: absolute;left:0rem;top:0.42rem; }
.select_box li{list-style:none;height:0.42rem;line-height:0.42rem;cursor:default;_background:#fff;text-align:left;padding-left:0.37rem;}
.select_box li:hover{background:#3399FF;color:#fff}
.report_main_content .report_main_center input,.select_type {width: 5.53rem;line-height: 0.42rem;outline: none;height:0.42rem;color:#5a5a5a;border: 0.01rem solid #f2f2f2;background:#fff; font-size: 0.18rem; }
.report_main_center .select_box input {color:#5a5a5a; font-size: 0.18rem; width: 5.53rem;padding-left:0.37rem;line-height: 0.42rem;background:url(../images/part2_area.jpg) #fff no-repeat;background-size:0.23rem 0.12rem;background-position:5.1rem 0.14rem;border:none;outline:medium;appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;}
.report_main_content .report_main_bottom{line-height:0.47rem;text-align:center; clear:both;margin-top: 0.45rem;}
.report_main_content .report_main_bottom input{cursor: pointer;width:1.58rem;height:0.47rem;background-color:#0052d9;font-size:0.18rem;color:#fff;border:none;outline:none;border-radius:0.01rem; }
.report_main_content .report_main_bottom input:hover{background-color:#369ee6;}

.report_main_center{min-height:5rem;}
.report_tel{position: absolute; right:0.5rem;bottom:0.6rem;color:#547ddf;font-size: 0.18rem;height:0.22rem; }
.report_tel p{height:0.22rem;line-height: 0.22rem; display: flex; align-items: center;}
.report_tel img{width:0.22rem;height:0.22rem;}
.report_tel a{color:#547ddf; display:inline-block;height:0.22rem; line-height: 0.24rem;border-bottom:0.01rem solid #b1bfeb;}
.report_tel em{display: inline-block;width:0.01rem;height:0.22rem;margin-left:0.25rem;margin-right: 0.25rem; background:#547ddf;}
.report_tel img{margin-right:0.12rem;}
.report_tel a:hover{border-bottom:0.01rem solid #b1bfeb;}
.service_nav{background: #f7f8f9;width:100%;height:0.8rem;border-bottom: 0.01rem solid #e9e9e9; z-index: 10;}
.service_wrap{width:100%; position: relative;;height:0.8rem;z-index: 111111;}
.service_title_main{color:#252525;font-size:0.14rem; }



.box_upload{border:0.01rem dashed #ccc;width: 5.53rem;background: #fff;margin-bottom: 0rem;height: 2.6rem; display: flex; justify-content: center; align-items: center;text-align: center;}
.box_upload p{color:#333333;font-size:0.16rem}
.box_upload p img{width:0.37rem;height:0.45rem;}
.box_upload p a{color:#3370ff;font-size:0.16rem}
 /* .report_main_content .report_main_center .line:not(.not) label{	letter-spacing: 0.1rem;} */




 



/* 

.select_type .select_ico{color:#5a5a5a; font-size: 0.18rem; width: 5.53rem;padding-left:0.37rem;line-height: 0.42rem;background:url(../images/part2_area.jpg) no-repeat;background-size:0.23rem 0.12rem;background-position:5.1rem 0.14rem;border:none;outline:medium;appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;}

.report_main_content .center input:visited{border: 1px solid #333;}


 */


/* .report_main_content .report_main_center input:focus{} */
 /* .report_main_content .report_main_center span{
	display: inline-block;
	width: 200px;
	text-align: left;

} */
/* .job_img2  img{width:7.3rem;height: auto;}
.job_img2{position: relative;}
.job_img2:before {
    background-color: #f1f3f6;
    transition: .5s ease-in-out 0s;
    z-index: 2;
}
.job_img2:before{
content: "";
display: block;
width:100%;
height: 100%;
position: absolute;   
left: 0;
top: 0;
z-index: 1;    background-color: #f1f3f6;
transition: .5s ease-in-out 0s;

}
.animate1{
	opacity:1!important;
	trans:translateZ(0) scale(1) rotate(0deg)!important
}

.animate1:before {
	left:200%; z-index: 2;
} */
