
/*导航顶部区域*/
.headroom {will-change: transform;transition: transform 200ms linear;}
.headroom--pinned {transform: translateY(0%);}
.headroom--unpinned {transform: translateY(-100%);}
/* .header{width:100%;height:0.84rem;position: relative;} */
.top_header{width:100%;height:0.8rem;position: relative;}
.wrap_header{width:100%; height: 0.8rem; background:#fff; opacity:1; position: fixed;top:0; z-index:11111;}
	/*语言切换*/
	.lang_en{position: absolute;right: 0.5rem;top:0.3rem;width:0.94rem;height:0.27rem;border:0.01rem solid #04528e;}
	.area{height:0.27rem;line-height:0.27rem;position:relative;cursor:pointer;position: relative;}
	.area span{color: #04528e;font-size:0.18rem;display: block;border-right:0.01rem solid #04528e;float: left;width:0.65rem;height:0.25rem;text-align:center; line-height: 0.24rem;}
	.area i{position: absolute;top:0.07rem;right:0.09rem;width:0.1rem;height:0.09rem;display:inline-block;background:url(../images/row_up.png) no-repeat;background-size:0.1rem 0.09rem;}
	.area ul{position:absolute;left:-0.01rem;top:0.25rem;border-bottom:0.02rem solid #000;background-color:#fff;width:0.94rem;border:0.01rem solid #04528e;cursor:default;display:none;}
	.area:hover ul{display:block;z-index:3}
	.area:hover i{width:0.1rem;height:0.09rem;display:inline-block;background:url(../images/row_down.png) no-repeat;background-size:0.1rem 0.09rem;}
	.area ul li{height:0.32rem;line-height:0.32rem;cursor:pointer;text-align: center;font-size: 0.14rem;}
	.area ul li.line{height:1px;margin:11px 0;padding:0;background-color:#373d41;margin-top:8px;margin-bottom:8px}
	.area ul li a{display:block;height:100%;white-space:nowrap;color:#a4a5a5;font-size:0.18rem;}
	.area ul li a:hover{color:#04528e}
	.area ul li a span{display:inline-block;width:102px}
	/*导航*/
	.header_main{ height:0.84rem;width:14.9rem;margin:0 auto; z-index:10;}
	.header_logo{width:1.29rem;height:0.84rem;float: left;}
	.header_logo img{width:1.29rem;height:0.84rem;}
	.nav {	position: relative;	display: -webkit-box;	display: flex;	list-style: none;float: right;margin-top: 0.25rem;}
	.nav li{text-align: center;}
	.nav a {	position: relative;padding:0.08rem 0.4rem;border: none;outline: none;font-size:0.18rem;color:#04528e;font-family: '微软雅黑'; font-weight: 400;display: inline-block;
text-decoration: none;z-index: 3;}
	.nav a.active{color:#fff;background:#2e66b5;}
	.nav a:hover{background:#2e66b5;color:#fff;}


/*底部*/
.part{width: 100%;height: auto;background-position: center top;position: relative;overflow: hidden;}
	.footer_wrap{height: 4.6rem; background-image:url(../images/pc_footer_bg.jpg);background-size:19.2rem 4.6rem;}
	.footer_main{height:3.4rem;width:14.9rem;margin:0 auto;position: relative; display: flex;justify-content: space-between; padding-top: 0.6rem;padding-bottom: 0.6rem;} 
	.gong{width:15rem;margin:0 auto;}
	.footer_left li{margin:0;padding:0;}
	.footer_left li.first{margin-top: -0.04rem;}
	.footer_left li a{color:#fff;margin:0;padding:0;}
	.footer_left li a:hover{border-bottom: 1px solid #fff;padding-bottom: 0.03rem;}
	.footer_left{width:2.3rem;float: left;font-size:0.5rem;border-right:0.01rem solid #6ac7d5;height:3.4rem; display: flex; justify-content: space-between;flex-direction: column;}
	.footer_left li{font-size: 0.18rem;margin-bottom: 0.5rem;}
	.footer_left a{color:#fff;}
	.footer_center{float: left;width:11rem;padding-left:0.54rem;font-size:0.16rem;position: relative;height:3.4rem}
	.footer_right{width:2rem;float: right;}
	.footer_tro_left{float: left;width:3.4rem;height:2.89rem;}
	.footer_tro_left .title{margin-top: -0.04rem;}
	.footer_tro_right{float: right;font-size: 0.16rem;margin-right: 0rem;color:#ceebf1; position: absolute; left:4.3rem;top:0;}
	.footer_tro_left p{margin-bottom: 0.26rem;font-size: 0.16rem;color:#ceebf1;}
	.footer_tro_right p.sz{margin-bottom: 0.22rem;font-size: 0.16rem;}
	.footer_tro_left p.title,.footer_tro_right p.title{font-size: 0.18rem;color:#fff;}
	.footer_tip{color:#9dd6db;}
	.fs{margin-bottom: 0.193rem; text-decoration:none;}
	.footer_tip p{line-height:0.24rem;margin-top:0.08rem;font-size: 0.12rem; }
	.footer_tip p a{color:#9dd6db;}
	.footer_tip p a:hover{border-bottom: 1px solid #fff;padding-bottom: 0.03rem;}
	.footer_logo img{width:1.96rem;height:1.13rem;margin-bottom: 0.285rem;}
	.footer_icon img{width:1.93rem;height:1.92rem;}
	.footer_left li.last{margin-bottom:  -0.03rem;}
	.footer_tro_right h3{color:#19e0ed;width:1.87rem;border:0.01rem solid #1ce7f5;border-radius: 0.3rem;font-size: 0.16rem;text-align: center; line-height: 0.32rem;}
	/*top_index*/
	#gotop {display: none;position: fixed;right: 0.5rem;bottom:0.5rem;padding: 0.2rem;font-size: 0.2rem;background: #777;color: white;cursor: pointer;	z-index:11111;}

